.bg-g2 {
  background-color: #3b3b3b;
}

.content {
  padding-bottom: 50px;
}

.close {
  position: absolute;
  right: 13px;
  top: 10px;
}

.text-org {
  color: #d84a1b !important;
}

.text-gry {
  color: #646464 !important;
}

.btn-org {
  border: 2px solid #d84a1b;
  color: #d84a1b;
  padding: 10px 40px;
  font-size: x-small;
  letter-spacing: 1px;
}

.btn-org:hover {
  background-color: #d84a1b;
  color: #cfcfcf;
}

.btn-org-pulse {
  background-color: #d84a1b;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 12px 24px !important;
}

.btn-org-pulse:hover {
  color: #cfcfcf;
  animation:like-btn .5s ease-in-out infinite both;
}

.input-box {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #3b3b3b;
  color: #fff;
}

.rounded-box {
  border-radius: 25px;
}

.transparent-card {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}

.badge-secondary {
  background-color: #515151;
}

.like-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #cfcfcf;
}

.like-btn:hover {
  animation:like-btn .5s ease-in-out infinite both;
  color: #dc3545
}

.like-btn:active {
  animation:jello-horizontal .9s both
}

.rating {
  position: absolute;
  top: 218px;
  left: 10px;
  background-color: #d84a1bc0;
  color: rgb(255, 255, 255);
}

.input-group-text {
  color: #fff;
  background-color: #e9ecef00;
  border: 1px solid #ced4da00;
}

.input-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3b3b3b;
  opacity: 1; /* Firefox */
}

.input-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #3b3b3b;
}

.input-box::-ms-input-placeholder { /* Microsoft Edge */
  color: #3b3b3b;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(100, 100, 100); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #646464; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #949494; 
}

 @keyframes like-btn{0%{transform:scale(1)}50%{transform:scale(.9)}100%{transform:scale(1)}}

@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}

.custom-control-input:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #d84a1b;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #d84a1b;
}

.pop:focus {
  border-style: none !important;
  box-shadow: none !important;
}

.pop::-webkit-slider-thumb {
  background: #d84a1b !important;
}

.pop::-moz-range-thumb {
  background: #d84a1b !important;
}

.pop::-ms-thumb {
  background: #d84a1b !important;
}


.form-control:focus {
  color: #fff;
  background-color: #222;
  border-color: #d84a1b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(216, 74, 27,.25);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #3b3b3b;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  box-shadow: inset 0 0 6px rgba(34, 34, 34, 0.1);
  transition: background-color 5000s ease-in-out 0s;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


/* ----------------------------------------------
 * Generated by Animista on 2020-9-12 23:36:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
